{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p class="lead">This Is My Home Page.</p>
</div>

<div class="countainer">
    <div class="row">
        <div class="col-sm-4">
            <h2>About</h2>
            <p>
                Click "About" Above To See More About Me :)
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact</h2>
            <p>Click "Contact" Above To See More Contact :-)</p>
        </div>
        <div class="col-sm-4">
            <h2>Photo Album</h2>
            <p>Click "Photo Album" Above To See My Photo Album ;)</p>
        </div>
    </div>
</div>
   

{% endblock %}
